.home {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020617;
  color: white;
  padding: 40px;
}

.home-content {
  max-width: 600px;
  text-align: center;
}

.home-content h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.home-content span {
color: var(--accent-color);
}

.home-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.home-content p {
  font-size: 16px;
  margin-bottom: 25px;
  color: #cbd5f5;
}

.home-btn {
  padding: 12px 25px;
  border: none;
  background: var(--card-bg);
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* 🔹 Mobile Responsive */
@media (max-width: 768px) {
  .home-content h1 {
    font-size: 32px;
  }

  .home-content h2 {
    font-size: 20px;
  }
}
