@model EFCoreCrudRepo.Models.Student

<h2>Student Details</h2>

<div>
    <strong>Name:</strong> @Model.Name <br />
    <strong>Age:</strong> @Model.Age <br />
    <strong>Email:</strong> @Model.Email
</div>

<br />

<a asp-action="Index" class="btn btn-secondary">Back</a>
